html, body {
    margin: 0;
    padding: 0;
    transform: skew(1deg, 1deg);

    background: green; /* Old browsers */
}
body {
    background: rgb(29,255,0); /* Old browsers */
    background: -webkit-linear-gradient(-45deg, rgba(29,255,0,1) 0%,rgba(0,242,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(29,255,0,1) 0%,rgba(0,242,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1dff00', endColorstr='#00f2ff',GradientType=1 ); IE6-9 fallback on horizontal gradient;
    z-index: -10;
    position: relative;
    filter: blur(1.5px);


}
.thing {
    width: 400px;
    height: 800px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    background-color: blue;
    z-index: 0;
    border-radius: 40px;
    transform: rotate(10deg);
    box-shadow: 41px 18px 28px rgba(255, 0, 255, 1)  ; 
}
.box1 {
    position: absolute;
    z-index: -1;
    width: 1500px;
    height: 1500px;
    top: -1000px;
    left: -300px;
    transform:rotate(23deg);
    background-color: red;
}
.otherstuff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 100px;
}
button {
    transform: rotate(25deg);
    border-radius: 20px;
    width: 50px;
    height: 100px;
}
button div {
    transform: rotate(25deg);
    transform: skew(15deg, 15deg);
    
}
p {
    /* transform: rotate(-25deg); */
    transform: skew(120deg, 15deg);
    width: 50px;
}
h1 {
    transform: rotate(-140deg);
}
img {
    transform: skew(15deg, 15deg);
    transform: rotateX(deg);
}
.container {
    background-image: url(ChimpJustJammin.jpeg);
    width: 70%;
    height: 700px;
    background-size: cover;
    position: absolute;
    /* filter: blur(5px); */
}

.blurbox {
    
    background-image: url(ChimpJustJammin.jpeg);
    /* filter: blur(5px); */
    position: fixed;
    height: 800px;
    width: 800px;
    z-index: 10;
}
